@charset "utf-8";

/*
	Autor: Daniel Cataño Restrepo
	Año: 2016
*/

*{
	box-sizing:border-box;
}

img{
	display:block;
	margin:0 auto;
	margin-top:5px;
}

.left{
	float:left;
}

.clear{
	clear:both;
}

.board{
	width:33%;
	margin:0 auto;
}

.row{
	width:100%;
}

.col{
	width:12.5%;
}

.white{
	background-color:#e0bf94;
}

.black{
	background-color:#b67743;
}